{{ include('/include/head.html') }}
<div class="container">

  <form class="mb-5">
    <fieldset class="mt-5">
      <legend>速く書く</legend>

      <div class="form-group mt-3">

        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="タイトル">

      </div>
      <div class="form-group">
       
      </div>
      <div class="row">
        <div class="col-6">
            <select class="form-control" name="cate">
              <option>カテゴリを選択</option>
              <option value="1">1</option>
              <option value="1">2</option>
              <option value="1">3</option>
              <option value="1">4</option>
              <option value="1">5</option>
            </select>
        </div>
        <div class="col-6">
          <select class="form-control" name="cate">
            <option value="1">デフォルト</option>
            <option value="1">屋根を置く</option>
          </select>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-4">
          <input type="text" class="form-control" placeholder="キーワード">
        </div>
        <div class="col-4">
          <input type="text" class="form-control" placeholder="説明">
        </div>
        <div class="col-4">
          <select class="form-control" name="cate">
            <option value="1">デフォルト - 観光客に見える</option>
            <option value="1">登録可視</option>
            <option value="1">会員が表示されます</option>
          </select>
        </div>
      </div>



      <div class="form-group mt-4">
        <textarea class="form-control" id="mytextarea" placeholder="内容を書く"></textarea>
      </div>

      <button type="button" class="btn btn-primary">リリース</button>
      <button type="button" class="btn btn-info">草稿</button>
      <input type="text" class="btn btn-success w" value="積分:0"></input>

    </fieldset>
  </form>

</div>


{{ include('include/js.html') }}
<!-- <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script> -->
<script src="{{ PUBLIC_ROOT }}Tinymce/tinymce.min.js"></script>
<script src="{{ PUBLIC_ROOT }}Tinymce/init.js"></script>

{{ include('include/footer.html') }}
